/* GENERAL STYLES
-------------------------------------------------- */
.body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.searchContainer{
    width: 45%; 
    border:3px solid rgb(255, 0, 0);
    position: relative;
    left: 30%;
}

.feedbackContainer{
    background-color: aqua;
    width: 50%;
    height: 100%;
    border: 4px dotted solid;
    position: relative;
    left:50%;
    display: block;
}
.feedbackItem{
    background-color: blueviolet;
    width: 50%;
    height: 30%;
    right: 0;
    bottom: 0;
    position: absolute;
}
.gigi{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 600%;
    text-align: center;
    background-color: coral;
}
a  {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: #97cff7;
  }
  .list-of-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .first-column {
    float: left;
  }
  .movie-details {
    padding-right: 5px;
    width: 195px;
    background-color: black;
    text-align: center;
    padding-left: 5px;
    margin: 1rem;
  }
  .second-column {
    float: right;
  }
  .carousel-inner {
    overflow: initial;
  }
  .fixed-top {
    top: 40px;
  }
  .logo {
    padding: 20px;
  
  }
  form {
    display: flex;
    padding-bottom: 2rem;
  }
  .form-control {
    width: 80%;
  }
  /* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
  
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  